<div>
  <div>
    <h1>
      List of all budget expenses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new budget expense
    </h2>

    <form action="/insert_budget_expense" method="post">
      <div>
        <label for="expense_name_box">
          Expense name
        </label>

        <input type="text" id="expense_name_box" name="query_expense_name">
      </div>

      <div>
        <label for="expense_amount_box">
          Expense amount
        </label>

        <input type="text" id="expense_amount_box" name="query_expense_amount">
      </div>

      <div>
        <label for="expense_category_id_box">
          Expense category
        </label>

        <select id="expense_category_id_box"name="query_expense_category_id">
          <option value="Select One">Select One</option>
          <option value=1>Auto & Transportation</option>
          <option value=2>Bills & Utilities</option>
          <option value=3>Debt Payments</option>
          <option value=4>Dining & Drinking</option>
          <option value=5>Education</option>
          <option value=6>Entertainment</option>
          <option value=7>Fitness & Personal Care</option>
          <option value=8>Gifts & Donationse</option>
          <option value=9>Government</option>
          <option value=10>Groceries</option>
          <option value=11>Health & Insurance</option>
          <option value=12>Home</option>
          <option value=13>Pets</option>
          <option value=14>Rent & Mortgage</option>
          <option value=15>Services</option>
          <option value=16>Shopping</option>
          <option value=17>Travel</option>
          <option value=18>Other</option>
        </select>


        <!-- <input type="text" id="expense_category_id_box"name="query_expense_category_id"> -->
      </div>

      <div>
        <label for="recurring_frequency_box">
          Recurring frequency
        </label>

        <select id="recurring_frequency_box"name="query_recurring_frequency">
          <option value="Select One">Select One</option>
          <option value="52">Weekly</option>
          <option value="26">Biweekly</option>
          <option value="12">Monthly</option>
          <option value="4">Quarterly</option>
        </select>
          
          

        <!--<input type="text" id="recurring_frequency_box" name="query_recurring_frequency">-->
      </div>



      <div>
        <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
      </div>
      <!-- <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div> -->

      <div>
        <label for="first_recurrence_date_box">
          First recurrence date
        </label>

        <input type="date" id="first_recurrence_date_box" name="query_first_recurrence_date">
      </div>

      <button>
        Create budget expense
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <!--<th>
          ID
        </th>-->

        <th>
          Expense name
        </th>

        <th>
          Expense amount
        </th>

        <th>
          Expense category
        </th>

        <th>
          Recurring frequency
        </th>

        <!--<th>
          User
        </th>-->

        <th>
          First recurrence date
        </th>

        <!--<th>
          Created at
        </th>

        <th>
          Updated at
        </th>-->

        <th>
          Update Expense
        </th>

        <!--<th>
        </th>-->
      </tr>

      <% @list_of_budget_expenses.each do |a_budget_expense| %>
      <tr>
        <!--<td>
          <%= a_budget_expense.id %>
        </td>-->

        <td>
          <%= a_budget_expense.expense_name %>
        </td>

        <td>
          <%= "$" %>
          <%= a_budget_expense.expense_amount %>
        </td>

        <td>
          <!--<%= a_budget_expense.expense_category_id %>-->
          <%= @category_reference = TransactionCategory.where({id: a_budget_expense.expense_category_id}).first
           @category_reference.spend_category_name %>
        </td>

        <td>
          <%= if a_budget_expense.recurring_frequency == 52
              "Weekly"
              elsif a_budget_expense.recurring_frequency == 26
              "Biweekly"
              elsif a_budget_expense.recurring_frequency == 12
              "Monthly"
              elsif a_budget_expense.recurring_frequency == 4
              "Quarterly"
              end %>
        </td>

        <!--<td>
          <%= a_budget_expense.user_id %>
        </td>-->

        <td>
          <%= a_budget_expense.first_recurrence_date %>
        </td>

        <!--<td>
          <%= time_ago_in_words(a_budget_expense.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_budget_expense.updated_at) %> ago
        </td>-->

        <td>
          <a href="/budget_expenses/<%= a_budget_expense.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
