<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      Loan comparison #<%= @the_loan_comparison.id %> details
    </h1>

    <div>
      <div>
        <a href="/loan_comparisons">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_loan_comparison/<%= @the_loan_comparison.id %>">
          Delete loan comparison
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Apr
      </dt>
      <dd>
        <%= @the_loan_comparison.apr %>
      </dd>

      <dt>
        Lender name
      </dt>
      <dd>
        <%= @the_loan_comparison.lender_name %>
      </dd>

      <dt>
        Loan total cost
      </dt>
      <dd>
        <%= @the_loan_comparison.loan_total_cost %>
      </dd>

      <dt>
        Monthly payments after school
      </dt>
      <dd>
        <%= @the_loan_comparison.monthly_payments_after_school %>
      </dd>

      <dt>
        Monthly payments in school
      </dt>
      <dd>
        <%= @the_loan_comparison.monthly_payments_in_school %>
      </dd>

      <dt>
        Repayment period
      </dt>
      <dd>
        <%= @the_loan_comparison.repayment_period %>
      </dd>

      <dt>
        Total loan amount
      </dt>
      <dd>
        <%= @the_loan_comparison.total_loan_amount %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_loan_comparison.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_loan_comparison.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_loan_comparison.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit loan comparison
    </h2>

    <form action="/modify_loan_comparison/<%= @the_loan_comparison.id %>"  method="post" >
      <div>
        <label for="apr_box">
          Apr
        </label>

        <input type="text" id="apr_box" name="query_apr" value="<%= @the_loan_comparison.apr %>">
      </div>

      <div>
        <label for="lender_name_box">
          Lender name
        </label>

        <input type="text" id="lender_name_box" name="query_lender_name" value="<%= @the_loan_comparison.lender_name %>">
      </div>

      <div>
        <label for="loan_total_cost_box">
          Loan total cost
        </label>

        <input type="text" id="loan_total_cost_box" name="query_loan_total_cost" value="<%= @the_loan_comparison.loan_total_cost %>">
      </div>

      <div>
        <label for="monthly_payments_after_school_box">
          Monthly payments after school
        </label>

        <input type="text" id="monthly_payments_after_school_box" name="query_monthly_payments_after_school" value="<%= @the_loan_comparison.monthly_payments_after_school %>">
      </div>

      <div>
        <label for="monthly_payments_in_school_box">
          Monthly payments in school
        </label>

        <input type="text" id="monthly_payments_in_school_box" name="query_monthly_payments_in_school" value="<%= @the_loan_comparison.monthly_payments_in_school %>">
      </div>

      <div>
        <label for="repayment_period_box">
          Repayment period
        </label>

        <input type="text" id="repayment_period_box" name="query_repayment_period" value="<%= @the_loan_comparison.repayment_period %>">
      </div>

      <div>
        <label for="total_loan_amount_box">
          Total loan amount
        </label>

        <input type="text" id="total_loan_amount_box" name="query_total_loan_amount" value="<%= @the_loan_comparison.total_loan_amount %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_loan_comparison.user_id %>">
      </div>

      <button>
        Update loan comparison
      </button>
    </form>
  </div>
</div>

<hr>
