<div>
  <div>
    <h1>
      School event payment #<%= @the_school_event_payment.id %> details
    </h1>

    <div>
      <div>
        <a href="/school_event_payments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_school_event_payment/<%= @the_school_event_payment.id %>">
          Delete school event payment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Payment due datetime
      </dt>
      <dd>
        <%= @the_school_event_payment.payment_due_datetime %>
      </dd>

      <dt>
        Payment amount
      </dt>
      <dd>
        <%= @the_school_event_payment.payment_amount %>
      </dd>

      <dt>
        School event
      </dt>
      <dd>
        <%= @the_school_event_payment.school_event_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_school_event_payment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_school_event_payment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit school event payment
    </h2>

    <form action="/modify_school_event_payment/<%= @the_school_event_payment.id %>"  method="post" >
      <div>
        <label for="payment_due_datetime_box">
          Payment due datetime
        </label>

        <input type="datetime-local" id="payment_due_datetime_box" name="query_payment_due_datetime"
         value="<%= @the_school_event_payment.payment_due_datetime %>">
      </div>

      <div>
        <label for="payment_amount_box">
          Payment amount
        </label>

        <input type="text" id="payment_amount_box" name="query_payment_amount" value="<%= @the_school_event_payment.payment_amount %>">
      </div>

      <div>
        <label for="school_event_id_box">
          School event
        </label>

        <input type="text" id="school_event_id_box" name="query_school_event_id" value="<%= @the_school_event_payment.school_event_id %>">
      </div>

      <button>
        Update school event payment
      </button>
    </form>
  </div>
</div>

<hr>
