<div>
  <div>
    <h1>
      List of all school fees
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new school fee
    </h2>

    <form action="/insert_school_fee" method="post">
      <div>
        <label for="fee_name_box">
          Fee name
        </label>

        <input type="text" id="fee_name_box" name="query_fee_name">
      </div>

      <div>
        <label for="first_fee_date_box">
          First fee date
        </label>

        <input type="datetime-local" id="first_fee_date_box" name="query_first_fee_date">
      </div>

      <div>
        <label for="school_box">
          School
        </label>

        <input type="text" id="school_box" name="query_school">
      </div>

      <div>
        <label for="fee_amount_box">
          Fee amount
        </label>

        <input type="text" id="fee_amount_box" name="query_fee_amount">
      </div>

      <div>
        <label for="term_box">
          Term
        </label>

        <input type="text" id="term_box" name="query_term">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year">
      </div>

      <button>
        Create school fee
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <!--<th>
          ID
        </th>-->

        <th>
          School
        </th>

        <th>
          Fee name
        </th>

        <th>
          First fee date
        </th>

        <th>
          Fee amount
        </th>

        <th>
          Term
        </th>

        <th>
          Year
        </th>

        <!--<th>
          Created at
        </th>

        <th>
          Updated at
        </th>-->

        <th>
        Edit Fee??
        </th>
      </tr>

      <% @list_of_school_fees.each do |a_school_fee| %>
      <tr>
        <!--<td>
          <%= a_school_fee.id %>
        </td>-->

        <td>
          <%= a_school_fee.school %>
        </td>

        <td>
          <%= a_school_fee.fee_name %>
        </td>

        <td>
          <%= a_school_fee.first_fee_date %>
        </td>

        <td>
          $<%= a_school_fee.fee_amount %>
        </td>

        <td>
          <%= a_school_fee.term %>
        </td>

        <td>
          <%= a_school_fee.year %>
        </td>

        <!--<td>
          <%= time_ago_in_words(a_school_fee.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_school_fee.updated_at) %> ago
        </td>-->

        <td>
          <a href="/school_fees/<%= a_school_fee.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
