<div>
  <div>
    <h1>
      School fee #<%= @the_school_fee.id %> details
    </h1>

    <div>
      <div>
        <a href="/school_fees">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_school_fee/<%= @the_school_fee.id %>">
          Delete school fee
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Fee name
      </dt>
      <dd>
        <%= @the_school_fee.fee_name %>
      </dd>

      <dt>
        First fee date
      </dt>
      <dd>
        <%= @the_school_fee.first_fee_date %>
      </dd>

      <dt>
        School
      </dt>
      <dd>
        <%= @the_school_fee.school %>
      </dd>

      <dt>
        Fee amount
      </dt>
      <dd>
        <%= @the_school_fee.fee_amount %>
      </dd>

      <dt>
        Term
      </dt>
      <dd>
        <%= @the_school_fee.term %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @the_school_fee.year %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_school_fee.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_school_fee.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit school fee
    </h2>

    <form action="/modify_school_fee/<%= @the_school_fee.id %>"  method="post" >
      <div>
        <label for="fee_name_box">
          Fee name
        </label>

        <input type="text" id="fee_name_box" name="query_fee_name" value="<%= @the_school_fee.fee_name %>">
      </div>

      <div>
        <label for="first_fee_date_box">
          First fee date
        </label>

        <input type="datetime-local" id="first_fee_date_box" name="query_first_fee_date"
         value="<%= @the_school_fee.first_fee_date %>">
      </div>

      <div>
        <label for="school_box">
          School
        </label>

        <input type="text" id="school_box" name="query_school" value="<%= @the_school_fee.school %>">
      </div>

      <div>
        <label for="fee_amount_box">
          Fee amount
        </label>

        <input type="text" id="fee_amount_box" name="query_fee_amount" value="<%= @the_school_fee.fee_amount %>">
      </div>

      <div>
        <label for="term_box">
          Term
        </label>

        <input type="text" id="term_box" name="query_term" value="<%= @the_school_fee.term %>">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_school_fee.year %>">
      </div>

      <button>
        Update school fee
      </button>
    </form>
  </div>
</div>

<hr>
