<div>
  <div>
    <h1>
      List of all loan disbursements
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new loan disbursement
    </h2>

    <form action="/insert_loan_disbursement" method="post">
      <div>
        <label for="loan_id_box">
          Loan
        </label>

        <input type="text" id="loan_id_box" name="query_loan_id">
      </div>

      <div>
        <label for="disbursement_amount_box">
          Disbursement amount
        </label>

        <input type="text" id="disbursement_amount_box" name="query_disbursement_amount">
      </div>

      <div>
        <label for="disbursement_datetime_box">
          Disbursement datetime
        </label>

        <input type="datetime-local" id="disbursement_datetime_box" name="query_disbursement_datetime">
      </div>

      <button>
        Create loan disbursement
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Loan
        </th>

        <th>
          Disbursement amount
        </th>

        <th>
          Disbursement datetime
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_loan_disbursements.each do |a_loan_disbursement| %>
      <tr>
        <td>
          <%= a_loan_disbursement.id %>
        </td>

        <td>
          <%= a_loan_disbursement.loan_id %>
        </td>

        <td>
          <%= a_loan_disbursement.disbursement_amount %>
        </td>

        <td>
          <%= a_loan_disbursement.disbursement_datetime %>
        </td>

        <td>
          <%= time_ago_in_words(a_loan_disbursement.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_loan_disbursement.updated_at) %> ago
        </td>

        <td>
          <a href="/loan_disbursements/<%= a_loan_disbursement.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
