<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      Loan disbursement #<%= @the_loan_disbursement.id %> details
    </h1>

    <div>
      <div>
        <a href="/loan_disbursements">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_loan_disbursement/<%= @the_loan_disbursement.id %>">
          Delete loan disbursement
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Loan
      </dt>
      <dd>
        <%= @the_loan_disbursement.loan_id %>
      </dd>

      <dt>
        Disbursement amount
      </dt>
      <dd>
        <%= @the_loan_disbursement.disbursement_amount %>
      </dd>

      <dt>
        Disbursement datetime
      </dt>
      <dd>
        <%= @the_loan_disbursement.disbursement_datetime %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_loan_disbursement.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_loan_disbursement.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit loan disbursement
    </h2>

    <form action="/modify_loan_disbursement/<%= @the_loan_disbursement.id %>"  method="post" >
      <div>
        <label for="loan_id_box">
          Loan
        </label>

        <input type="text" id="loan_id_box" name="query_loan_id" value="<%= @the_loan_disbursement.loan_id %>">
      </div>

      <div>
        <label for="disbursement_amount_box">
          Disbursement amount
        </label>

        <input type="text" id="disbursement_amount_box" name="query_disbursement_amount" value="<%= @the_loan_disbursement.disbursement_amount %>">
      </div>

      <div>
        <label for="disbursement_datetime_box">
          Disbursement datetime
        </label>

        <input type="datetime-local" id="disbursement_datetime_box" name="query_disbursement_datetime"
         value="<%= @the_loan_disbursement.disbursement_datetime %>">
      </div>

      <button>
        Update loan disbursement
      </button>
    </form>
  </div>
</div>

<hr>
