<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      School event #<%= @the_school_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/school_events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_school_event/<%= @the_school_event.id %>">
          Delete school event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        School
      </dt>
      <dd>
        <%= @the_school_event.school %>
      </dd>

      <dt>
        Event name
      </dt>
      <dd>
        <%= @the_school_event.event_name %>
      </dd>

      <dt>
        Event start date
      </dt>
      <dd>
        <%= @the_school_event.event_start_date %>
      </dd>

      <dt>
        Host
      </dt>
      <dd>
        <%= @the_school_event.host %>
      </dd>

      <dt>
        Estimated cost
      </dt>
      <dd>
        <%= @the_school_event.estimated_cost %>
      </dd>

      <dt>
        Event end date
      </dt>
      <dd>
        <%= @the_school_event.event_end_date %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_school_event.user_id %>
      </dd>

      <dt>
        School event payments count
      </dt>
      <dd>
        <%= @the_school_event.school_event_payments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_school_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_school_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit school event
    </h2>

    <form action="/modify_school_event/<%= @the_school_event.id %>"  method="post" >
      <div>
        <label for="school_box">
          School
        </label>

        <input type="text" id="school_box" name="query_school" value="<%= @the_school_event.school %>">
      </div>

      <div>
        <label for="event_name_box">
          Event name
        </label>

        <input type="text" id="event_name_box" name="query_event_name" value="<%= @the_school_event.event_name %>">
      </div>

      <div>
        <label for="event_start_date_box">
          Event start date
        </label>

        <input type="date" id="event_start_date_box" name="query_event_start_date" value="<%= @the_school_event.event_start_date %>">
      </div>

      <div>
        <label for="host_box">
          Host
        </label>

        <input type="text" id="host_box" name="query_host" value="<%= @the_school_event.host %>">
      </div>

      <div>
        <label for="estimated_cost_box">
          Estimated cost
        </label>

        <input type="text" id="estimated_cost_box" name="query_estimated_cost" value="<%= @the_school_event.estimated_cost %>">
      </div>

      <div>
        <label for="event_end_date_box">
          Event end date
        </label>

        <input type="datetime-local" id="event_end_date_box" name="query_event_end_date"
         value="<%= @the_school_event.event_end_date %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_school_event.user_id %>">
      </div>

      <div>
        <label for="school_event_payments_count_box">
          School event payments count
        </label>

        <input type="text" id="school_event_payments_count_box" name="query_school_event_payments_count" value="<%= @the_school_event.school_event_payments_count %>">
      </div>

      <button>
        Update school event
      </button>
    </form>
  </div>
</div>

<hr>
