<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      List of all bank accounts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bank account
    </h2>

    <form action="/insert_bank_account" method="post">
      <div>
        <label for="account_balance_box">
          Account balance
        </label>

        <input type="text" id="account_balance_box" name="query_account_balance">
      </div>

      <div>
        <input type="checkbox" id="savings_account_flag_box" name="query_savings_account_flag" value="1">

        <label for="savings_account_flag_box">Savings account flag</label>
      </div>

      <div>
        <label for="asset_id_box">
          Asset
        </label>

        <input type="text" id="asset_id_box" name="query_asset_id">
      </div>

      <div>
        <label for="plaid_account_id_box">
          Plaid account
        </label>

        <input type="text" id="plaid_account_id_box" name="query_plaid_account_id">
      </div>

      <div>
        <label for="account_id_box">
          Account
        </label>

        <input type="text" id="account_id_box" name="query_account_id">
      </div>

      <button>
        Create bank account
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Account balance
        </th>

        <th>
          Savings account flag
        </th>

        <th>
          Asset
        </th>

        <th>
          Plaid account
        </th>

        <th>
          Account
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bank_accounts.each do |a_bank_account| %>
      <tr>
        <td>
          <%= a_bank_account.id %>
        </td>

        <td>
          <%= a_bank_account.account_balance %>
        </td>

        <td>
          <%= a_bank_account.savings_account_flag %>
        </td>

        <td>
          <%= a_bank_account.asset_id %>
        </td>

        <td>
          <%= a_bank_account.plaid_account_id %>
        </td>

        <td>
          <%= a_bank_account.account_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_bank_account.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bank_account.updated_at) %> ago
        </td>

        <td>
          <a href="/bank_accounts/<%= a_bank_account.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
