<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      Bank account #<%= @the_bank_account.id %> details
    </h1>

    <div>
      <div>
        <a href="/bank_accounts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bank_account/<%= @the_bank_account.id %>">
          Delete bank account
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Account balance
      </dt>
      <dd>
        <%= @the_bank_account.account_balance %>
      </dd>

      <dt>
        Savings account flag
      </dt>
      <dd>
        <%= @the_bank_account.savings_account_flag %>
      </dd>

      <dt>
        Asset
      </dt>
      <dd>
        <%= @the_bank_account.asset_id %>
      </dd>

      <dt>
        Plaid account
      </dt>
      <dd>
        <%= @the_bank_account.plaid_account_id %>
      </dd>

      <dt>
        Account
      </dt>
      <dd>
        <%= @the_bank_account.account_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bank_account.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bank_account.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bank account
    </h2>

    <form action="/modify_bank_account/<%= @the_bank_account.id %>"  method="post" >
      <div>
        <label for="account_balance_box">
          Account balance
        </label>

        <input type="text" id="account_balance_box" name="query_account_balance" value="<%= @the_bank_account.account_balance %>">
      </div>

      <div>
        <input type="checkbox" id="savings_account_flag_box" name="query_savings_account_flag" value="1" <%= "checked" if @the_bank_account.savings_account_flag %>>

        <label for="savings_account_flag_box">
            Savings account flag
        </label>
      </div>

      <div>
        <label for="asset_id_box">
          Asset
        </label>

        <input type="text" id="asset_id_box" name="query_asset_id" value="<%= @the_bank_account.asset_id %>">
      </div>

      <div>
        <label for="plaid_account_id_box">
          Plaid account
        </label>

        <input type="text" id="plaid_account_id_box" name="query_plaid_account_id" value="<%= @the_bank_account.plaid_account_id %>">
      </div>

      <div>
        <label for="account_id_box">
          Account
        </label>

        <input type="text" id="account_id_box" name="query_account_id" value="<%= @the_bank_account.account_id %>">
      </div>

      <button>
        Update bank account
      </button>
    </form>
  </div>
</div>

<hr>
