<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      List of all transactions
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-bordered table-responsive table-sm">
      <tr>
        <th scope="col">
          Account
        </th>

        <th scope="col">
          Trxn ID
        </th>

        <th scope="col">
          Name plaid
        </th>

        <th scope="col">
          Transaction amount
        </th>

        <th scope="col">
          Transaction datetime
        </th>

        <th scope="col">
          Authorized datetime
        </th>

        <!--
        <th>
          Recurring frequency
        </th>

        <th>
          Recurring end date
        </th>

        <th>
          Spend category
        </th>

        <th>
          Income flag
        </th>

        <th>
          Recurring flag
        </th>

        <th>
          Iso currency code
        </th>
        -->

        <th scope="col">
          Merchant name
        </th>

        <th scope="col">
          Payment channel
        </th>

        <!--
        <th>
          Transaction category plaid
        </th>

        <th>
          Transaction location
        </th>

        <th>
          Transaction subcategory plaid
        </th>-->

        <th scope="col">
          Plaid Transaction ID
        </th>

        <!--
        <th>
          Plaid Category ID
        </th>

        <th>
          Type plaid
        </th>-->

        <th scope="col">
          Pending
        </th>

        <th scope="col">
          Created at
        </th>

        <th scope="col">
          Updated at
        </th>

        <th scope="col">
          Edit Trxn
        </th>

      </tr>

      <% @list_of_transactions.each do |a_transaction| %>
      <tr>
        <td>
          <%= a_transaction.account_id %>
        </td>
        
        <td>
          <%= a_transaction.id %>
        </td>

        <td>
          <%= a_transaction.name_plaid %>
        </td>

        <td>
          <%= a_transaction.transaction_amount %>
        </td>

        <td>
          <%= a_transaction.transaction_datetime %>
        </td>

        <td>
          <%= a_transaction.authorized_datetime %>
        </td>

        <!--
        <td>
          <%= a_transaction.recurring_frequency %>
        </td>

        <td>
          <%= a_transaction.recurring_end_date %>
        </td>

        <td>
          <%= a_transaction.spend_category_id %>
        </td>

        <td>
          <%= a_transaction.income_flag %>
        </td>

        <td>
          <%= a_transaction.recurring_flag %>
        </td>

        <td>
          <%= a_transaction.iso_currency_code %>
        </td>
        -->

        <td>
          <%= a_transaction.merchant_name %>
        </td>

        <td>
          <%= a_transaction.payment_channel %>
        </td>

        <!--
        <td>
          <%= a_transaction.transaction_category_plaid %>
        </td>

        <td>
          <%= a_transaction.transaction_location %>
        </td>

        <td>
          <%= a_transaction.transaction_subcategory_plaid %>
        </td>-->

        <td>
          <%= a_transaction.plaid_transaction_id %>
        </td>

        <!--
        <td>
          <%= a_transaction.plaid_category_id %>
        </td>

        <td>
          <%= a_transaction.type_plaid %>
        </td>
        -->

        <td>
          <%= a_transaction.pending %>
        </td>

        <td>
          <%= time_ago_in_words(a_transaction.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_transaction.updated_at) %> ago
        </td>

        <td>
          <a href="/transactions/<%= a_transaction.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
