<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      List of all transactions
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name plaid
        </th>

        <th>
          Transaction amount
        </th>

        <th>
          Transaction datetime
        </th>

        <th>
          Authorized datetime
        </th>

        <!--
        <th>
          Recurring frequency
        </th>

        <th>
          Recurring end date
        </th>

        <th>
          Spend category
        </th>

        <th>
          Income flag
        </th>

        <th>
          Recurring flag
        </th>

        <th>
          Iso currency code
        </th>
        -->

        <th>
          Merchant name
        </th>

        <th>
          Payment channel
        </th>

        <!--
        <th>
          Transaction category plaid
        </th>

        <th>
          Transaction location
        </th>

        <th>
          Transaction subcategory plaid
        </th>-->

        <th>
          Account
        </th>

        <th>
          Plaid Transaction ID
        </th>

        <!--
        <th>
          Plaid Category ID
        </th>

        <th>
          Type plaid
        </th>-->

        <th>
          Pending
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_transactions.each do |a_transaction| %>
      <tr>
        <td>
          <%= a_transaction.id %>
        </td>

        <td>
          <%= a_transaction.name_plaid %>
        </td>

        <td>
          <%= a_transaction.transaction_amount %>
        </td>

        <td>
          <%= a_transaction.transaction_datetime %>
        </td>

        <td>
          <%= a_transaction.authorized_datetime %>
        </td>

        <!--
        <td>
          <%= a_transaction.recurring_frequency %>
        </td>

        <td>
          <%= a_transaction.recurring_end_date %>
        </td>

        <td>
          <%= a_transaction.spend_category_id %>
        </td>

        <td>
          <%= a_transaction.income_flag %>
        </td>

        <td>
          <%= a_transaction.recurring_flag %>
        </td>

        <td>
          <%= a_transaction.iso_currency_code %>
        </td>
        -->

        <td>
          <%= a_transaction.merchant_name %>
        </td>

        <td>
          <%= a_transaction.payment_channel %>
        </td>

        <!--
        <td>
          <%= a_transaction.transaction_category_plaid %>
        </td>

        <td>
          <%= a_transaction.transaction_location %>
        </td>

        <td>
          <%= a_transaction.transaction_subcategory_plaid %>
        </td>-->

        <td>
          <%= a_transaction.account_id %>
        </td>

        <td>
          <%= a_transaction.plaid_transaction_id %>
        </td>

        <!--
        <td>
          <%= a_transaction.plaid_category_id %>
        </td>

        <td>
          <%= a_transaction.type_plaid %>
        </td>
        -->

        <td>
          <%= a_transaction.pending %>
        </td>

        <td>
          <%= time_ago_in_words(a_transaction.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_transaction.updated_at) %> ago
        </td>

        <td>
          <a href="/transactions/<%= a_transaction.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<hr>

<div>
  <div>
    <h2>
      Add a new transaction
    </h2>

    <form action="/insert_transaction" method="post">
      <div>
        <label for="name_plaid_box">
          Name plaid
        </label>

        <textarea id="name_plaid_box" name="query_name_plaid" rows="3"></textarea>
      </div>

      <div>
        <label for="transaction_amount_box">
          Transaction amount
        </label>

        <input type="text" id="transaction_amount_box" name="query_transaction_amount">
      </div>

      <div>
        <label for="transaction_datetime_box">
          Transaction datetime
        </label>

        <input type="datetime-local" id="transaction_datetime_box" name="query_transaction_datetime">
      </div>

      <div>
        <label for="recurring_frequency_box">
          Recurring frequency
        </label>

        <input type="text" id="recurring_frequency_box" name="query_recurring_frequency">
      </div>

      <div>
        <label for="recurring_end_date_box">
          Recurring end date
        </label>

        <input type="date" id="recurring_end_date_box" name="query_recurring_end_date">
      </div>

      <div>
        <label for="spend_category_id_box">
          Spend category
        </label>

        <input type="text" id="spend_category_id_box" name="query_spend_category_id">
      </div>

      <div>
        <input type="checkbox" id="income_flag_box" name="query_income_flag" value="1">

        <label for="income_flag_box">Income flag</label>
      </div>

      <div>
        <input type="checkbox" id="recurring_flag_box" name="query_recurring_flag" value="1">

        <label for="recurring_flag_box">Recurring flag</label>
      </div>

      <div>
        <label for="iso_currency_code_box">
          Iso currency code
        </label>

        <textarea id="iso_currency_code_box" name="query_iso_currency_code" rows="3"></textarea>
      </div>

      <div>
        <label for="merchant_name_box">
          Merchant name
        </label>

        <input type="text" id="merchant_name_box" name="query_merchant_name">
      </div>

      <div>
        <label for="payment_channel_box">
          Payment channel
        </label>

        <input type="text" id="payment_channel_box" name="query_payment_channel">
      </div>

      <div>
        <label for="transaction_category_plaid_box">
          Transaction category plaid
        </label>

        <textarea id="transaction_category_plaid_box" name="query_transaction_category_plaid" rows="3"></textarea>
      </div>

      <div>
        <label for="authorized_datetime_box">
          Authorized datetime
        </label>

        <input type="datetime-local" id="authorized_datetime_box" name="query_authorized_datetime">
      </div>

      <div>
        <label for="transaction_location_box">
          Transaction location
        </label>

        <input type="text" id="transaction_location_box" name="query_transaction_location">
      </div>

      <div>
        <label for="transaction_subcategory_plaid_box">
          Transaction subcategory plaid
        </label>

        <textarea id="transaction_subcategory_plaid_box" name="query_transaction_subcategory_plaid" rows="3"></textarea>
      </div>

      <div>
        <label for="account_id_box">
          Account
        </label>

        <input type="text" id="account_id_box" name="query_account_id">
      </div>

      <div>
        <label for="plaid_transaction_id_box">
          Plaid transaction
        </label>

        <textarea id="plaid_transaction_id_box" name="query_plaid_transaction_id" rows="3"></textarea>
      </div>

      <div>
        <label for="plaid_category_id_box">
          Plaid category
        </label>

        <textarea id="plaid_category_id_box" name="query_plaid_category_id" rows="3"></textarea>
      </div>

      <div>
        <label for="type_plaid_box">
          Type plaid
        </label>

        <textarea id="type_plaid_box" name="query_type_plaid" rows="3"></textarea>
      </div>

      <div>
        <input type="checkbox" id="pending_box" name="query_pending" value="1">

        <label for="pending_box">Pending</label>
      </div>

      <button>
        Create transaction
      </button>
    </form>
  </div>
</div>
