<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      List of all budget incomes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new budget income
    </h2>

    <form action="/insert_budget_income" method="post">
      <div>
        <label for="income_name_box">
          Income name
        </label>

        <input type="text" id="income_name_box" name="query_income_name">
      </div>

      <div>
        <label for="income_amount_box">
          Income amount
        </label>

        <input type="text" id="income_amount_box" name="query_income_amount">
      </div>

      <div>
        <label for="income_category_id_box">
          Income category
        </label>

        <input type="text" id="income_category_id_box" name="query_income_category_id">
      </div>

      <div>
        <label for="first_recurrence_date_box">
          First recurrence date
        </label>

        <input type="date" id="first_recurrence_date_box" name="query_first_recurrence_date">
      </div>

      <div>
        <label for="recurring_frequency_box">
          Recurring frequency
        </label>

        <input type="text" id="recurring_frequency_box" name="query_recurring_frequency">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create budget income
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Income name
        </th>

        <th>
          Income amount
        </th>

        <th>
          Income category
        </th>

        <th>
          First recurrence date
        </th>

        <th>
          Recurring frequency
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_budget_incomes.each do |a_budget_income| %>
      <tr>
        <td>
          <%= a_budget_income.id %>
        </td>

        <td>
          <%= a_budget_income.income_name %>
        </td>

        <td>
          <%= a_budget_income.income_amount %>
        </td>

        <td>
          <%= a_budget_income.income_category_id %>
        </td>

        <td>
          <%= a_budget_income.first_recurrence_date %>
        </td>

        <td>
          <%= a_budget_income.recurring_frequency %>
        </td>

        <td>
          <%= a_budget_income.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_budget_income.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_budget_income.updated_at) %> ago
        </td>

        <td>
          <a href="/budget_incomes/<%= a_budget_income.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
