<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="first_name_box">First name</label>
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>
      <div>
        <label for="last_name_box">Last name</label>
        <input id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>
      <div>
        <label for="graduation_date_box">Graduation date</label>
        <input id="graduation_date_box" name="query_graduation_date" value="<%= @current_user.graduation_date %>">
      </div>
      <div>
        <label for="school_box">School</label>
        <input id="school_box" name="query_school" value="<%= @current_user.school %>">
      </div>
      <div>
        <label for="international_student_status_box">International student status</label>
        <input id="international_student_status_box" name="query_international_student_status" type="checkbox" value="1" <%= "checked" if @current_user.international_student_status %>>
      </div>
      <div>
        <label for="premba_industry_box">Premba industry</label>
        <input id="premba_industry_box" name="query_premba_industry" value="<%= @current_user.premba_industry %>">
      </div>
      <div>
        <label for="gender_box">Gender</label>
        <input id="gender_box" name="query_gender" value="<%= @current_user.gender %>">
      </div>
      <div>
        <label for="birth_date_box">Birth date</label>
        <input id="birth_date_box" name="query_birth_date" value="<%= @current_user.birth_date %>">
      </div>
      <div>
        <label for="loan_comparisons_count_box">Loan comparisons count</label>
        <input id="loan_comparisons_count_box" name="query_loan_comparisons_count" value="<%= @current_user.loan_comparisons_count %>">
      </div>
      <div>
        <label for="spend_intentions_count_box">Spend intentions count</label>
        <input id="spend_intentions_count_box" name="query_spend_intentions_count" value="<%= @current_user.spend_intentions_count %>">
      </div>
      <div>
        <label for="accounts_count_box">Accounts count</label>
        <input id="accounts_count_box" name="query_accounts_count" value="<%= @current_user.accounts_count %>">
      </div>
      <div>
        <label for="budget_expenses_count_box">Budget expenses count</label>
        <input id="budget_expenses_count_box" name="query_budget_expenses_count" value="<%= @current_user.budget_expenses_count %>">
      </div>
      <div>
        <label for="budget_incomes_count_box">Budget incomes count</label>
        <input id="budget_incomes_count_box" name="query_budget_incomes_count" value="<%= @current_user.budget_incomes_count %>">
      </div>
      <div>
        <label for="current_loans_count_box">Current loans count</label>
        <input id="current_loans_count_box" name="query_current_loans_count" value="<%= @current_user.current_loans_count %>">
      </div>
      <div>
        <label for="transaction_categories_count_box">Transaction categories count</label>
        <input id="transaction_categories_count_box" name="query_transaction_categories_count" value="<%= @current_user.transaction_categories_count %>">
      </div>
      <div>
        <label for="school_events_count_box">School events count</label>
        <input id="school_events_count_box" name="query_school_events_count" value="<%= @current_user.school_events_count %>">
      </div>
      <div>
        <label for="plaid_items_count_box">Plaid items count</label>
        <input id="plaid_items_count_box" name="query_plaid_items_count" value="<%= @current_user.plaid_items_count %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
