<!-- 
<!DOCTYPE HTML>
<html class="h-full">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />

    <title>Reset Password</title>

    <link rel="icon" href="favicon.png" sizes="64x64" type="image/png" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="./css/reset.css" />


    <link rel="stylesheet" href="fonts/mulish/style.css" />
    <link rel="stylesheet" href="fonts/inter/style.css" />

  
    <link href="css/grid.css" rel="stylesheet" media="screen" />

 
    <link href="css/custom.css" rel="stylesheet" media="screen" />

</head>

<body>

    <section class="content-account">

        <div class="content-account-container">

            <div class="logo-lg"></div>

            <form role="form" action="/password_reset_edit" method="get">
                <div class="well well-sm">
                    <h2 class="font700 text-center">Reset Your Password</h2>
                    <div class="form-group">
                        <label class="form-label" for="password_box">Password</label>
                        <input type="password" class="form-control" id="password_box" name="query_password" placeholder="Choose a password..."  />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." />
                    </div>
                    <input type="submit" class="btn btn-primary btn-block mb-10" value="Reset" />
                </div>
            </form>

        </div>

    </section>
    

</body>

</html>
-->
<body>
    <section class="content-account">

        <div class="content-account-container">

            <div class="logo-lg"></div>

            <h1>Reset Your Password </h1>

            <%= form_with model: @user, url: password_reset_edit_url(token:params[:token]) do |form| %>
                <div class="mb-3">
                    <%= form.label :password %>
                    <%= form.password_field :password, class: "form-control", placeholder: "password"%>
                </div>

                <div class="mb-3">
                    <%= form.label :password_confirmation %>
                    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password"%>
                </div>

                <div class="mb-3">
                    <%= form.submit "Reset Password", class: "btn btn-primary" %>
                </div>
            <% end %>

        </div>

    </section>
    
</body>
