<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      List of all accounts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new account
    </h2>


  <script>
    async function link_plaid_account() {
      const response = await fetch("/create_plaid_link_token");
      const responseJson = await response.json();
      const linkToken = responseJson.link_token;

      const handler = Plaid.create({
        token: linkToken,
        onSuccess: async (publicToken, metadata) => {
          const response = await fetch("/create_plaid_access_token", {
            method: "POST",
            body: JSON.stringify({ public_token: publicToken }),
            headers: {
              "Content-Type": "application/json",
            },
          });
          console.log(response);
        },
        onEvent: (eventName, metadata) => {
          console.log("Event:", eventName);
          console.log("Metadata:", metadata);
        },
        onExit: (error, metadata) => {
          console.log(error, metadata);
        },
      });

      handler.open();
    }
  </script>
  <body>
    <button
      type="button"
      onclick="link_plaid_account()"
      id="link-account"
      class="btn btn-primary btn-dark btn-lg"
      style="
        border: 1px solid black;
        border-radius: 5px;
        background: black;
        height: 48px;
        width: 205px;
        margin-top: 5; 
        margin-left: 10;
        color: white;
        font-size: 18px;
      "
    >
      <strong>Link account</strong>
    </button>
  </body>



<hr>
<div>
  <div>
    <table class="table table-bordered table-responsive table-sm">
      <tr>
        <th scope="col">
          Item ID
        </th scope="col">

        <th scope="col">
          User ID
        </th scope="col">

        <th scope="col">
          Plaid Access Token
        </th scope="col">

        <th scope="col">
          Plaid Item ID
        </th scope="col">

        <th scope="col">
          Plaid Institution ID
        </th scope="col">

        <th scope="col">
          Status
        </th scope="col">

        <th scope="col">
          Transactions Cursor
        </th scope="col">

        <th scope="col">
          Created At
        </th scope="col">

        <th scope="col">
          Updated At
        </th>

      </tr>


      <% for an_item in PlaidItem.where({user_id: @current_user.id}) do %>
      <tr class="fs-6 text">
        <td>
          <%= an_item.id %>
        </td>

        <td>
          <%= an_item.user_id %>
        </td>

        <td>
          <%= an_item.plaid_access_token %>
        </td>

        <td>
          <%= an_item.plaid_item_id %>
        </td>

        <td>
          <%= an_item.plaid_institution_id %>
        </td>

        <td>
          <%= an_item.status %>
        </td>

        <td>
          <%= an_item.transactions_cursor %>
        </td>

        <td>
          <%= time_ago_in_words(an_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_item.updated_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>




<hr>
<div>
  <div>
    <table class="table table-bordered table-responsive table-sm">
      <tr>
        <th>
          Account ID
        </th>

        <th>
          Account type
        </th>

        <th>
          User ID
        </th>

        <th>
          Item ID
        </th>

        <th>
          Name plaid
        </th>

        <th>
          Official name plaid
        </th>

        <th>
          Plaid Account ID
        </th>

        <th>
          Plaid Mask
        </th>

        <th>
          Current balance plaid
        </th>

        <th>
          Available balance plaid
        </th>

        <th>
          Iso currency code plaid
        </th>

        <th>
          Type plaid
        </th>

        <th>
          Subtype plaid
        </th>

        <th>
          Credit cards count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_accounts.each do |an_account| %>
      <tr class="fs-6 text">
        <td>
          <%= an_account.id %>
        </td>

        <td>
          <%= an_account.account_type %>
        </td>

        <td>
          <%= an_account.user_id %>
        </td>

        <td>
          <%= an_account.item_id %>
        </td>

        <td>
          <%= an_account.name_plaid %>
        </td>

        <td>
          <%= an_account.official_name_plaid %>
        </td>

        <td>
          <%= an_account.plaid_account_id %>
        </td>

        <td>
          <%= an_account.mask_plaid %>
        </td>

        <td>
          <%= an_account.current_balance_plaid %>
        </td>

        <td>
          <%= an_account.available_balance_plaid %>
        </td>

        <td>
          <%= an_account.iso_currency_code_plaid %>
        </td>

        <td>
          <%= an_account.type_plaid %>
        </td>

        <td>
          <%= an_account.subtype_plaid %>
        </td>

        <td>
          <%= an_account.credit_cards_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_account.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_account.updated_at) %> ago
        </td>

        <td>
          <a href="/accounts/<%= an_account.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
